.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  margin-bottom: 10px;
}

input, textarea {
  background-color: #202224c2;
  color: inherit;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

textarea {
  /* height: 100px; */
  width: 100%
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgrey;
}

.btn {
  background-color: #3d7dad;
  cursor: pointer;
}
